@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.damageshare-component {
    @include flex_center;

    width: 350px;
    height: 350px;

    .circle {
        @include flex_center;

        position: relative;

        width: 150px;
        height: 150px;
        border: 1px solid yellow;
        border-radius: 75px;

        animation: 1.2s flash infinite;

        @keyframes flash {
            0% {
                border-color: white;
                box-shadow: 0 0 5px rgba(255, 255, 0, 0.2), inset 0 0 5px rgba(255, 255, 0, .1), 0 1px 0 rgb(252, 252, 185);
            }

            50% {
                border-color: rgb(235, 235, 131);
                box-shadow: 0 0 10px rgba(235, 235, 131, .6), inset 0 0 10px rgba(235, 235, 131, .4), 0 1px 0 rgb(235, 235, 131);
            }

            100% {
                border-color: white;
                box-shadow: 0 0 5px rgba(255, 255, 0, 0.2), inset 0 0 5px rgba(255, 255, 0, .1), 0 1px 0 rgb(252, 252, 185);
            }
        }

        .arrow-box {
            position: absolute;
            bottom: -95px;

            width: 60px;
            height: 100px;

            .arrow {
                position: absolute;
                bottom: 0;

                margin: 0 auto;

                width: 60px;
                height: 40px;
                clip-path: polygon(50% 0,
                        100% 60%,
                        100% 100%,
                        50% 40%,
                        0 100%,
                        0 60%,
                        50% 0);
            }

            .one {
                animation: 1s move-buttom-one linear infinite;

                @keyframes move-buttom-one {
                    0% {
                        background-color: rgb(255, 210, 0);
                    }

                    20% {
                        background-color: rgb(255, 220, 0);
                        transform: translateY(-15px);
                    }

                    40% {
                        background-color: rgb(255, 230, 0);
                        transform: translateY(-30px);
                    }

                    60% {
                        background-color: rgb(255, 240, 0);
                        transform: translateY(-45px);
                    }

                    80% {
                        background-color: rgb(255, 250, 0);
                        transform: translateY(-60px);
                    }
                    100% {
                        background-color: rgb(255, 250, 0);
                        transform: translateY(-60px);
                    }
                }
            }

            .two {
                animation: 1s 0.2s move-buttom-two infinite;

                @keyframes move-buttom-two {
                    0% {
                        background-color: rgb(255, 220, 0);
                        transform: translateY(-15px);
                        opacity: 1;
                    }

                    100% {
                        background-color: rgb(255, 220, 0);
                        transform: translateY(-15px);
                        opacity: 0;
                    }
                }
            }

            .third {
                animation: 1s 0.4s move-buttom-third infinite;

                @keyframes move-buttom-third {
                    0% {
                        background-color: rgb(255, 230, 0);
                        transform: translateY(-30px);
                        opacity: 1;
                    }
                    100% {
                        background-color: yellow;
                        transform: translateY(-30px);
                        opacity: 0;
                    }
                }
            }

            .four {
                animation: 1s 0.6s move-buttom-four infinite;

                @keyframes move-buttom-four {
                    0% {
                        background-color: rgb(255, 240, 0);
                        transform: translateY(-45px);
                        opacity: 1;
                    }
                    100% {
                        background-color: yellow;
                        transform: translateY(-45px);
                        opacity: 0;
                    }
                }
            }
        }

        .top {
            top: -95px;
            transform: rotate(180deg);
        }

        .left {
            top: 24px;
            left: -75px;
            transform: rotate(90deg);
        }

        .right {
            top: 24px;
            right: -75px;
            transform: rotate(-90deg);
        }
    }
}