$border-color: #ab8e54;
$font-color:#dac0ae;
$T-bgc: rgb(84, 94, 153);
$D-bgc:rgb(115, 40, 40);
$H-bgc:rgb(52, 102, 36);

@mixin transform_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roles {
    .role {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 48px;
        width: 48px;
        margin: 10px;

        border: 2.5px solid $border-color;
        border-radius: 10px;

        box-shadow:
            inset 0.5px 1px 1px 0.5px #000,
            0.5px 1px 1px 0.5px #000;

        position: relative;

        .damageshare-component {
            @include transform_center;
        }

        .rangedecay-component {
            @include transform_center;
        }


        span {
            font-size: 22px;
            color: $font-color;
        }
    }

    .T {
        background-color: $T-bgc;
    }

    .D {
        background-color: $D-bgc;
    }

    .H {
        background-color: $H-bgc;
    }
}